// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu .menu-item {
  display: inline-block;
}
a {
  text-decoration: none;
  font-size: 13px;
}
a:hover {
  text-decoration: none;
  background: none;
  color: #8a6d3b;
  cursor: pointer;
}
ul {
  display: inline-block;
}
.onoff {
  float: right;
}
li {
  display: inline-block;
}